:root {
    --main-text-color: #22343d;
    --main-bg-color: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}


button {
    cursor: pointer;
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

/* HEADER  */

.header-container {
    display: flex;
    align-items: center;
}

/* .header .container {
  display: flex;
} */

.header-logo {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 237px;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
}

.header-nav {
    margin-right: auto;
}

.header-nav-list {
    display: flex;
    gap: 30px;
}

.header-nav-link {
    padding: 26px 0;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}

.current {
    font-weight: 600;
}

.header-btn-list {
    display: flex;
    gap: 21px;
}

.header-btn {
    min-width: 105px;
    height: 42px;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
    background-color: transparent;
}

.header-btn:hover,
.header-btn:focus {
    color: #fff;
    background-color: #02897a;
    border: none;
}


.hero {
    padding-top: 25px;
    padding-bottom: 100px;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-btn-list {
    display: flex;
    gap: 30px;
}

/* features section  */


.features-title {
font-weight: 700;
font-size: 32px;
text-align: center;
color: #22343d;
max-width: 300px;
margin: 0 auto;
margin-bottom: 50px;
}

.features-list{
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
    justify-content: center;
}

.features-list-item {
width: calc((100% - 3 * 30px) / 4);
}

.features-list-title{
margin-top: 26px;
margin-bottom: 13px;
font-weight: 600;
    font-size: 22px;
    color: #22343d;
}

.features-item-text {
    max-width: 255px;
}

.features-btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}